@use '../variables' as *;

.header {
  background-color: $color-white;
  padding: $gap-sm $gap-md;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  &__inner {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-size: $font-size-lg;
    font-weight: 700;
    color: $color-text;
  }
}
